<h2> 
    <span *ngIf="product.id">Edit</span>
    <span *ngIf="!product.id">Create</span>

    Product : {{product.name}}
</h2>

<form #productForm="ngForm" (ngSubmit)="saveProduct()">
    <p>
    <label for="name">Name</label>
    <input name="name" [(ngModel)]="product.name" #productName="ngModel">
    </p>

    <br />


    <span *ngIf="!productName.valid">
        Name is invalid
    </span>

    <br />
    <span *ngIf="productName.errors?.required">
        Name is required
    </span>


    <br />
    <span *ngIf="productName.errors?.minlength">
        minimum 4 chars needed
    </span>

    <br />

    <label for="year">Year</label>
    <input name="year" [(ngModel)]="product.year">



 <p>
     Brand

     <select name="brand" [(ngModel)]="product.brandId">
         <option *ngFor="let brand of brands" value={{brand.id}}>
             {{brand.name}}
         </option>
     </select>
 </p>


    <button type="submit">Save</button>
</form>

<button *ngIf="product.id" [disabled]="!productForm.valid" (click) = "deleteProduct()">Delete</button>



<button (click)="gotoListPage()"> Go to List</button>